.shop-butn {
  left: 60px;
  bottom: 75px;
  background-color: black;
  color: white;
}
.shop-butn:hover {
  border: 2px solid black;
}
@media (max-width: 576px) {
  .shop-butn {
    left: 25px;
    bottom: 10px;
    height: 35px;
    font-size: smaller;
  }
}
